body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(rgb(178, 178, 180), transparent), linear-gradient(to top left, rgb(171, 199, 206), transparent), linear-gradient(to top right, #a1a1a1, transparent);
    background-blend-mode: screen;
}

.logo {
    width: 100%;
    font-family: Helvetica, sans-serif;
    position: fixed;
    padding: 1rem;
    margin-left: 1rem;
    z-index: 3;
    background-color: #c4c4c47a;
}

.logo-text {
    letter-spacing: 0.1em;
    font-weight: bold;
    color: rgba(70, 47, 85, 0.74);
    text-shadow: 1px 1px 1px rgba(80, 22, 39, 0.61), 2px 2px 1px rgb(50, 20, 63);
}

.logo-text-i {
    font-size: 2rem;
}

.logo-img {
    width: 3rem;
}


/* Dropdown Button */

.dropbtn_insta {
    background-color: #207cb9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.dropbtn_logs {
    background-color: #2046b9ba;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btnactivate{
    background-color: #2a8500e5;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */
.dropbtn_logs:hover{
    background-color: #2046b9cb;
    padding: 11px;
    font-size: 17px;
}
.dropbtn_insta:hover{
    background-color: #38749cd7;
}
.btnactivate:hover{
    background-color: #2a8500e5;
    color: white;
    padding: 11px;
    font-size: 16.5px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown_insat {
    position: absolute;
    right: 35%;
    top: 25%;
    display: inline-block;
}
.dropdown_logs{
    position: absolute;
    right: 15%;
    top: 60%;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: .5rem;
    
}
.dropdown-content_insta{
    z-index: 1;
    margin-left: -100%;
}
.dropdown-content_logs{
    z-index: 2;
    margin-left: -100%;
}


/* Links inside the dropdown */




/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}

.myDropdown {
    text-align: center;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.insta_data {
    margin: 2rem;
}

.insta_data input {
    margin: .5rem;
    width: 15rem;
}

.insta_data button {
    margin: .5rem;
    margin-left: 1.5rem;
    width: 80%;
    height: 3rem;
    font-size: 1.1rem;
}

.first_section{
    float: left;
    width: 50%;
    padding: 10rem;
}

.second_section{
    float: left;
}
.tags{
    height: 8rem;
    background-color: #ffffff70;
}
.logout{
    top: -41%;
    margin-right: 4rem;
    float: right;
    position: relative;
    
    font-weight: bold;
}
.logout a{
    color: rgba(255, 0, 0, 0.459);
}
.log_div{
    overflow-y: scroll;
    margin: 1rem;
    width: 12rem;
    height: 30rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.log_div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


/* mobile style */
@media only screen and (max-width: 810px) {
    .login_section{
        padding-top: 6rem;
    }
    .logout {
        margin-right: 1.5rem;
        position: inherit;
        font-weight: bold;
        top: 3.5%;
        right: -1%;
    }
    .dropbtn_logs {
        background-color: #2046b9ba;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        width: 5rem;
    }
    .dropdown_insat {
        position: fixed;
        left: 2%;
        top: 6rem;
        display: inline-block;
    }
    .dropbtn_insta {
        background-color: #207cb9;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }
    .dropdown_logs {
        position: absolute;
        right: 8%;
        top: 122%;
        display: inline-block;
    }
    .dropdown_logs {
        position: absolute;
        right: 8%;
        top: 122%;
        display: inline-block;
    }
    .dropdown-content_logs {
        margin-left: -202%;
    }
    .dropdown-content_insta {
        margin-left: 0%;
        
    }
    .first_section {
        float: left;
        padding-top: 6rem;
        padding-left: 0%;
        padding-bottom: 0%;
        width: 101%;
    }
    .hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body, .hero.is-halfheight .hero-body {
        align-items: center;
        display: flow-root;
    }
    .hero-body {
        flex-grow: 1;
        flex-shrink: 0;
        padding: 3rem 1rem;
    }
    .has-text-centered p{
        text-align: left;
    }
    .container{
        padding-left: 10px;
    }
    .second_section .hero-body{
        padding: 0%;
    }
    .dropdown_insat {
        z-index: 2;
    }
    .tags {
        width: 160%;
    }
  }