{% extends "base.html" %}

{% block logout%}
<div class="dropdown dropdown_logs">
    <button onclick="myFunctionLogs()" class="dropbtn dropbtn_logs">Logs</button>
    <div id="myDropdown_logs" class="dropdown-content dropdown-content_logs">
        <div class="log_div">
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
        </div>
    </div>
</div>
<div class="logout">
    <a href="/logout">logout</a>
</div>
{% endblock %}




{% block main %}
<section class="hero is-fullheight">
    <div class="hero-body">


        <section class="first_section hero is-fullheight row align-items-cente">
            <div class="hero-body">
                <form id="data">
                    <div class="col">
                        <!-- <h5>Note</h3> -->
                        <p>If You want to change the password. Click <a href=""> Hear</a></p>
                        <p>Please add an Instagram account</p>
                        <p>(Make sure you are not enabled two factor authentication in your Instagram account)</p>
                    </div>
                    <br>
                    <div class="">
                        <h4>Hashtags</h4>
                        <p>Please add some hashtags or Keep default hashtags <br>NB: Don't use symbols
                            <br> min: 5 tags
                        </p>

                        <input type="text" value="{% for tag in data.tags %}{{tag}},{% endfor %}" data-role="tagsinput"
                            name="tags" required></input>


                    </div>
                    <br><br><br>
                    <div class="col">
                        <h4>Comments</h4>
                        <p>Please add some Comments or Keep default Comments
                            <br> min: 5 tags
                        </p>
                        <input type="text" value="{% for comment in data.comments %}{{comment}},{% endfor %}"
                            data-role="tagsinput" name="comments" required></input>
                    </div>
                    <br><br>
                    <div id="data_sc_msg" style="text-align: center;">
                    </div>
                    <div class="col first_btn">
                        <button id="data_btn" type="submit" class="button is-block  text-white"
                            style="background-color: #0c5abd; left: 45%; width: 6rem; font-size: 1rem;"><span
                                class="button__text">Set</span></button>
                    </div>
                </form>
            </div>

        </section>

        <section class="second_section hero is-fullheight">


            <div class="hero-body">
                <div class="dropdown dropdown_insat">
                    <button onclick="myFunction()" class="dropbtn dropbtn_insta">Instagram</button>
                    <div id="myDropdown" class="dropdown-content dropdown-content_insta">
                        <form id="insta_data">
                            <div id="insta_form" class="insta_data insta_show">
                                <a onclick="instaContent()" style="color: #207cb9;">Back</a>
                                <p>Please add your Instagram username and password and check login</p>
                                <input class="input " type="text" name="instaid" placeholder="Insta Id" autofocus=""
                                    required>
                                <input class="input " type="password" name="password" placeholder="password"
                                    autofocus="" required>
                                <button id="insta-login-btn" class="button is-block  text-white insta-login-btn"
                                    type="submit"><span class="button__text">Login</span></button>

                                <p id="insta_er_msg" class="insta_er_msg"
                                    style="color: rgba(223, 26, 26, 0.747); left: 20%; position: relative;"></p>
                            </div>

                            <div class="insta_data" id="insta_content">
                                {% if data.insta_ac %}
                                <p class="">Your bot connected with {{data.insta.insta_id}} insta account.<br> Please
                                    click change if you want to change
                                </p>
                                <a onclick="instaForme()" style="color: #207cb9;" class="">Change</a>
                                {% else %}
                                <p class="insta_content-p2">An insta account is required for your bot to work so you
                                    need to add an insta account
                                    <br> add an Instagram account
                                </p>
                                <a onclick="instaForme()" style="color: #207cb9;" class="insta_content-p2">Add</a>
                                {% endif %}
                            </div>

                            <div class="insta_data" id="insta_sc_msg" style="text-align: center;">

                            </div>
                        </form>
                    </div>
                </div>
                <form id="activate" class="container has-text-centered">
                    <p>Please activate your bot. If the button disabled the bot already activated</p>
                    {% if data.bot %}
                    <button  class="button btnactivate" disabled >Activated</button>
                    {% else %}
                    <button id="activate_btn" class="button btnactivate">Activate</button>
                    {% endif %}
                    <div id="activate_msg"></div>
                </form>
        </section>
    </div>
</section>
{% endblock %}