{% extends "base.html" %}

{% block logout%}
<div class="dropdown dropdown_logs">
    <button onclick="myFunctionLogs()" class="dropbtn dropbtn_logs">Logs</button>
    <div id="myDropdown_logs" class="dropdown-content dropdown-content_logs">
        <div class="log_div">
            <p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p><p>ljdnfgjsnsjfosnfuosifj <a>show</a></p>
            <p>ljdnfgjsnsjfo</p>
        </div>
    </div>
</div>
<div class="logout">
    <a href="/logout">logout</a>
</div>
{% endblock %}




{% block main %}
<section class="hero is-fullheight">
    <div class="hero-body">


        <section class="first_section hero is-fullheight row align-items-cente">
            <form action="" method="post">
                <div class="col">

                    <p>zdvxfgdfgdfbgcfvbc vdvx xfvbdfv \n weaasfsefdfsefwef <br> dvvdfdfdfgvd</p>
                </div>
                <br>
                <div class="col">
                    <h4>Hash Tags</h4>
                    <p>xxckkkkdskdsknjjjjjnhtd frfuytftfhsdish sydgsuyh</p>
                    <textarea class="tags" name="tags" id="tags" cols="30" rows="10"></textarea>
                </div>
                <br><br><br>
                <div class="col">
                    <h4>comments</h4>
                    <p>xxckkkkdskdsknjjjjjnhtd frfuytftfhsdish sydgsuyh</p>
                    <textarea class="tags" name="comments" id="comments" cols="30" rows="10"></textarea>
                </div>
                <br><br><br>
                <div class="col first_btn">
                    <button class="button is-block  text-white" style="background-color: #0c5abd; left: 45%; width: 4rem;">Set</button>
                </div>
            </form>


        </section>

        <section class="second_section hero is-fullheight">


            <div class="hero-body">
                <div class="dropdown dropdown_insat">
                    <button onclick="myFunction()" class="dropbtn dropbtn_insta">Instagram</button>
                    <div id="myDropdown" class="dropdown-content dropdown-content_insta">
                        <form class="insta_data" action="" method="post">
                            <p>ljdnfgjsnsjfosnfuosifjshfousnfisuhfsbnosb iosofnsouhfsejofhiuefhwshfjiu</p>
                            <p>ljdnfgjsnsjfosnfuosifjshfousnfisuhfsbnosb iosofnsouhfsejofhiuefhwshfjiu</p>
                            <input class="input " type="text" name="instaid" placeholder="Insta Id" autofocus=""
                                required>
                            <input class="input " type="password" name="password" placeholder="password" autofocus=""
                                required>
                            <button class="button is-block  text-white"
                                style="background-color: #0c5abd;">Login</button>

                        </form>
                    </div>
                </div>
                <div class="container has-text-centered">
                    <p>dgadsfdfgbzdfgzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzfgdgrgergehbsfhushfshfuoheduo</p>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}