{% extends "base.html" %} {% block instaid %}
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Instagram</button>
    <div id="myDropdown" class="dropdown-content">
        <form class="insta_data" action="">
            <input class="input " type="text" name="instaid" placeholder="Insta Id" autofocus="" required>
            <input class="input " type="password" name="password" placeholder="password" autofocus="" required>
            <button class="button is-block  text-white" style="background-color: #0c5abd;">Login</button>

        </form>
    </div>
</div>
{% endblock %} {% block content %} <br>
<br>
<a href="/logout">logout</a> {% endblock %}